<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <h1 class="name">Kévin</h1>
      <img src="images/Kevin.jpg" class="team_pic">
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <h1 class="name">Adrien</h1>
      <!-- <img src="images/Adrien.jpg" class="team_pic"> -->
      <%= image_tag "Adrien.jpg", id: "Adrien", class: "team_pic" %>
    </div>
  </div>
<div>
